<html lang="en">
<%- include("component/head")  %> 
<style>
  .dropdown-menu{
    width: 25em !important;
  }
  .navbar-brand img{
    width: 100px;
  }
</style>
<body>
  <%- include("component/navbar")%> 
  <% let id = 1  %> 
  <div class="container" style="margin-top: 20em;">
    <h2 class="text-center" style="margin-bottom: 50px;">Player List</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">no</th>
          <th scope="col">email</th>
          <th scope="col">option</th>
        </tr>
      </thead>
      <tbody>
        <% list.forEach(e => { %>
        <tr>
          <th scope="row"><%= id++ %> </th>
          <td><%= e.email %></td>
          <td>
            <a class="text-decoration-none" href="/admin/<%= e.id%>">detail |</a>
            <span>|<a href="/admin/delete/<%= e.id %>" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/trash-can-png/trash-can-png-transparent-images-png-only-1.png" width="25" alt="trash can png transparent images png only" /></a></span>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <script src="./list.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>

